*{
    box-sizing: border-box ;
}

h1{
    text-align: center ;
}

h2{
    width: 100px;
    text-align: center;
}

.head{
    float: right;
    margin: 0px;
    padding: 2px ;
    border: 1px solid black;
}

.chicken{
    background-color: pink;
}

.beef{
    background-color: red;
}

.sushi{
    background-color: yellow;
}

.row{
    width: 97% ;
    margin-left: auto;
    margin-right: auto;
}

.text{
    clear:right ;
    padding: 2% ;
}

div{
    background-color: grey;
    border: 1px solid black;
    margin-bottom: 10px;
    
}

@media (min-width: 992px) {
    .col-lg-3{
        width: 31.33% ;
        margin-left: 1%;
        margin-right: 1%;
        float: left;
    }
}

@media (max-width: 991px) and (min-width: 768px){
    .col-md-6{
        width: 48% ;
        margin-left: 1%;
        margin-right: 1%;

        float: left;
    }

    .medium{
        clear: left;
        margin-right: 1%;
        margin-left: 1%;
    }
}